<div class="observation-container">
  <div class="conditions-wrapper">
    <div class="temp">{{ dataOb.tempF || 'calculating'}}<span>&deg;F</span></div>
    <div class="description">{{ dataOb.weather  || 'calculating' }}</div>
  </div>
  <div class="icon-wrapper">
    <img class="icon" src="{{ 'https://cdn.aerisapi.com/wxblox/icons/' + dataOb.icon || 'na.png' }}">
  </div>
  <div class="details-wrapper">
    <div class="detail-row">
      <span class="metric-name">Winds: </span>
      <span class="metric-value">{{dataOb.windSpeedMPH > 0 ? dataOb.windSpeedMPH + 'mph' : 'Calm'}}</span>
    </div>
    <div class="detail-row">
      <span class="metric-name">Dew Point: </span>
      <span class="metric-value">{{dataOb.dewpointF || 'N/A'}}&deg;F</span>
    </div>
    <div class="detail-row">
      <span class="metric-name">Humidity: </span>
      <span class="metric-value">{{dataOb.humidity || 'N/A'}}</span>
    </div>
    <div class="detail-row">
      <span class="metric-name">Pressure</span>
      <span class="metric-value">{{dataOb.pressureIN || 'N/A'}}</span>
    </div>
    <div class="detail-row">
      <span class="metric-name">Visibility: </span>
      <span class="metric-value">{{dataOb.visibilityMI || 'N/A'}}</span>
    </div>
    <div class="detail-row">
      <span class="metric-name">Sky Cover:</span>
      <span class="metric-value">{{dataOb.sky + '%' || 'N/A'}}</span>
    </div>
  </div>
</div>
