<app-alert [alertType]="alertOb.name" [alertBody]="alertOb.body"></app-alert>
<app-location-form>
</app-location-form>
<div class="app-section-header">
  <h2 class="app-section-title">Weather Info for Seattle, WA</h2>
</div>

<span class="timestamp">Last updated at {{ dataOb.dateTimeISO | date:'MMM d, y, h:mm:ss a' }}</span>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-observations [dataOb]="dataOb"></app-observations>
<app-gauge [aqiOb]="aqiOb"></app-gauge>


<app-map [mapOb]="mapOb"></app-map>
